<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharepark"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".util.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shared Parking New"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppIntro"
            android:label="Shared Parking"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Register"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Login"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeFullScreen" />
        <activity
            android:name=".activities.ForgotPassword"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Verification"
            android:theme="@style/AppTheme" />

        <!-- <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyC02ydJ_nXrSX936J0Bv2tukh9iZ_uzUQM" /> -->

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            />

        <!--
            <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider211882079187728"
            android:exported="true" />
        -->

        <receiver android:name=".util.NotificationPublisher" />

        <activity
            android:name=".activities.AboutUs"
            android:label="About" />
        <activity android:name=".activities.Terms" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
         App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.AddSharedParkingMap"
            android:label="@string/title_activity_add_shared_parking_map" />
        <activity android:name=".activities.SharedParkingDetails" />
        <activity
            android:name=".activities.InquireSharedParking"
            android:label="@string/title_activity_inquire_shared_parking"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MyParkingDetails"
            android:label="@string/title_activity_my_parking_details"
            android:theme="@style/AppTheme" />
        <activity android:name=".recycler.MessageRecycler"></activity>
    </application>

</manifest>